In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HR_Employee_Attrition_Data.csv')

In [3]:
df.shape

(2940, 35)

In [4]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,3,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,4,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,5,...,4,80,1,6,3,3,2,2,2,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       2940 non-null   int64
 1   Attrition                 2940 non-null   object
 2   BusinessTravel            2940 non-null   object
 3   DailyRate                 2940 non-null   int64
 4   Department                2940 non-null   object
 5   DistanceFromHome          2940 non-null   int64
 6   Education                 2940 non-null   int64
 7   EducationField            2940 non-null   object
 8   EmployeeCount             2940 non-null   int64
 9   EmployeeNumber            2940 non-null   int64
 10  EnvironmentSatisfaction   2940 non-null   int64
 11  Gender                    2940 non-null   object
 12  HourlyRate                2940 non-null   int64
 13  JobInvolvement            2940 non-null   int64
 14  JobLevel                  2940 non-null   int64
 15  JobRole                   2940 non-null   object
 16  JobSatisfaction           2940 non-null   int64
 17  MaritalStatus             2940 non-null   object
 18  MonthlyIncome             2940 non-null   int64
 19  MonthlyRate               2940 non-null   int64
 20  NumCompaniesWorked        2940 non-null   int64
 21  Over18                    2940 non-null   object
 22  OverTime                  2940 non-null   object
 23  PercentSalaryHike         2940 non-null   int64
 24  PerformanceRating         2940 non-null   int64
 25  RelationshipSatisfaction  2940 non-null   int64
 26  StandardHours             2940 non-null   int64
 27  StockOptionLevel          2940 non-null   int64
 28  TotalWorkingYears         2940 non-null   int64
 29  TrainingTimesLastYear     2940 non-null   int64
 30  WorkLifeBalance           2940 non-null   int64
 31  YearsAtCompany            2940 non-null   int64
 32  YearsInCurrentRole        2940 non-null   int64
 33  YearsSinceLastPromotion   2940 non-null   int64
 34  YearsWithCurrManager      2940 non-null   int64
dtypes: int64(26), object(9)
memory usage: 804.0+ KB

In [6]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-1.0b6-py3-none-any.whl (325 kB)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\ashwin\appdata\roaming\python\python37\site-packages (from sweetviz) (4.48.0)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-3.0.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\ashwin\appdata\roaming\python\python37\site-packages (from sweetviz) (3.3.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ashwin\anaconda3\lib\site-packages (from sweetviz) (1.4.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\ashwin\appdata\roaming\python\python37\site-packages (from sweetviz) (1.0.5)
Requirement already satisfied: numpy>=1.16.0 in c:\users\ashwin\anaconda3\lib\site-packages (from sweetviz) (1.18.1)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\ashwin\anaconda3\lib\site-packages (from sweetviz) (2.11.1)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in c:\users\ashwin\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\ashwin\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\ashwin\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\ashwin\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ashwin\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.1.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ashwin\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (7.0.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\ashwin\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2019.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\ashwin\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\ashwin\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.14.0)
Requirement already satisfied: setuptools in c:\users\ashwin\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->sweetviz) (45.2.0.post20200210)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-3.0.0 sweetviz-1.0b6
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.1.1; however, version 20.2.2 is available.
You should consider upgrading via the 'C:\Users\Ashwin\anaconda3\python.exe -m pip install --upgrade pip' command.

In [8]:
import sweetviz

In [9]:
my_report = sweetviz.analyze([df,'HR_Attrition_Data'], target_feat='Attrition')

:FEATURES DONE:                    |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| [100%]   00:21  -> (00:00 left)
:PAIRWISE DONE:                    |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| [100%]   00:03  -> (00:00 left)

Creating Associations graph... DONE!

In [10]:
my_report.show_html('Report.html')

Report Report.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.